@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
