@model Site
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a href="/"  role="/Index">Home</a>
        <a href="/EditSitePage"  role="/EditSite">Edit Site</a>
        <a href="/Logout"  role="/Logout">Logout</a>
    </nav>




<div id="wrapper">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="display-4">Add a Site</h3>
            <form asp-action="AddSite" asp-controller="Home" method="post">
                <div class="form-group">
                    <label for="Site_Name">Site Name:</label>
                    <span class=" error" asp-validation-for="Site_Name"></span>
                    <input type="text" placeholder="Field can not be left empty" class="form-control form-control-sm" asp-for="Site_Name">
                </div>
                <div class="form-group">
                    <label for="FourDigit_Number">FourDigit Number:</label>
                    <span class=" error" asp-validation-for="FourDigit_Number"></span>
                    <input type="text" placeholder="Enter a unique 4 digit BTS number. Field can't be empty" class="form-control form-control-sm" asp-for="FourDigit_Number">
                </div>
                <div class="form-group">
                    <label for="Site_Number">Site Number:</label>
                    <span class=" error" asp-validation-for="Site_Number"></span>
                    <input type="Site_Number" placeholder="Enter a unique 6 dgit site number. Field can't be empty" class="form-control form-control-sm" asp-for="Site_Number">
                </div>
                <div class="form-group">
                    <label for="Enb_Number">Enb Number:</label>
                    <span class=" error" asp-validation-for="Enb_Number"></span>
                    <input type="Enb_Number" placeholder="Enter a unique 6 dgit Enb number. Field can't be empty" class="form-control form-control-sm" asp-for="Enb_Number">
                </div>
                <div class="form-group">
                    <label for="Enb2_Number">Enb2 Number:</label>
                    <span class=" error" asp-validation-for="Enb2_Number"></span>
                    <input type="Enb2_Number" placeholder="Enter a unique 6 dgit Enb2 number. Field can't be empty" class="form-control form-control-sm" asp-for="Enb2_Number">
                </div>
                <div class="form-group">
                    <label for="Tech_Name">Tech Name:</label>
                    <span class=" error" asp-validation-for="Tech_Name"></span>
                    <input type="text" placeholder="Field can not be left empty" class="form-control form-control-sm" asp-for="Tech_Name">
                </div>
                <div class="form-group">
                    <label for="Tech_Phone">Tech Phone:</label>
                    <span class=" error" asp-validation-for="Tech_Phone"></span>
                    <input type="text" placeholder="Please enter a 10 dgit phone number without the - . Field can not be left empty" class="form-control form-control-sm" asp-for="Tech_Phone">
                </div>

                <div class="form-group">
                    <label for="Lattitude">Lattitude:</label>
                    <span class=" error" asp-validation-for="Lattitude"></span>
                    <input type="Lattitude" placeholder="37.0457471 Longitude will NOT start with a - at the beginning. Field can not be left empty" class="form-control form-control-sm" asp-for="Lattitude">
                </div>
                <div class="form-group">
                    <label for="Longitude">Longitude:</label>
                    <span class=" error" asp-validation-for="Longitude"></span>
                    <input type="Longitude" placeholder="-94.4445743 Longitude will start with a - at the beginning. Field can not be left empty" class="form-control form-control-sm" asp-for="Longitude">
                </div>
                <button type="submit" class="btn btn-primary">Add Site</button>
            </form>
        </div>

    </div>
</div>
