    <header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</header>
    
    
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a href="/"  role="/Index">Home</a>
        <a href="/Logout"  role="/Logout">Logout</a>
 
    </nav>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="/AddSitePage" class="btn btn-info" role="/AddSite">Add Site</a>
            
        </div>
        <div class="col-md-6">
            
            <a href="/EditSitePage" class="btn btn-info" role="/EditSite">Edit Site</a>
        </div>

    </div>

</div>

<style>
    .row{
        margin: 10px;
    }
    .col-md-6{
        margin-top: 10px;
    }
    
</style>